* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;    
    background: url('../assets/images/bg-main.jpg') no-repeat center/cover;
}

.content {
    flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;
}

ul {
    list-style: none;
}