.main {
    margin-bottom: 40px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 960px;
        margin: auto;
    }

    &__sidebar {
        width: 250px;
    }

    &-nav {        
        margin-bottom: 35px;
        background: #eff3f7;        
        border-radius: 4px;

        &__list {
            margin: 0;
            padding: 0;
        }

        &__item {
            margin: 0 10px;

            &:not(:first-child) {
                border-top: 2px solid #3ba8c0;
            }

            &.current {
                margin: 0;
                margin-bottom: -2px;
                background: #3ba8c0;

                .main-nav__link {
                    color: #fff;
                }
            }
        }

        &__link {
            display: block;
            padding-left: 18px;
            padding-top: 24px;
            padding-bottom: 23px;
            text-decoration: none;
            font-size: 23px;
            font-family: 'fira_sansbook';
            color: #3ba8c0;   
        }

        &__item:last-child .main-nav__link {
            border-bottom: none;
        }
    }
      
}

.contact-info {
    border: 1px solid #d6d5d3;
    border-radius: 6px;
    overflow: hidden;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__title {
        padding-left: 30px;
        background: #f1c97b;
        font-size: 20px;
        color: #d0982c;
        line-height: 43px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }

    &__item {
        background: #fbfafa;

        &:not(:last-child) {
            border-bottom: 1px solid #d6d5d3;
        }

        &:hover {
            background: #f3e9d5;
        }
    }

    &__link {
        display: block;
        margin-left: 20px;
        padding: 10px 0;
        padding-left: 55px;
        font-size: 14px;
        color: #727070;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;

        &--mail {
            background: url('../assets/images/contact-mail.png') no-repeat center left;
        }

        &--phone {
            background: url('../assets/images/contact-phone.png') no-repeat center left;
        }

        &--skype {
            background: url('../assets/images/contact-skype.png') no-repeat center left;
        }
    }
}